In [2]:
import pymysql

In [29]:
conn=pymysql.connect(host="localhost",user="root",password="",db="hotel")

In [30]:
a=conn.cursor()

In [31]:
sql="select * from user4;"

In [32]:
a.execute(sql)

26

In [33]:
import pandas as pd
d=a.fetchall()

In [35]:
d=[list(i) for i in d]

In [37]:
df=pd.DataFrame(d)

In [38]:
df

,0,1,2,3,4,5,6
0,mayur,qsa,312,asfa,3,Female,pAMpExl3
1,mayur,haxch,123,sdjas,23,Male,PrQSG2Pt
2,mayur,haxch,123,sdjas,23,Male,9RFYDErX
3,mayur,haxch,123,sdjas,23,Male,urTJwmgf
4,mayur,haxch,123,sdjas,23,Male,DUpwl6nF
5,mayur,afa,123,asd,124,Male,IohA5NkW
6,mayur,afa,123,asd,124,Male,fYVIiDRN
7,mayur,afa,123,asd,124,Male,3lrr0oFI
8,mayur,afa,123,asd,124,Male,OCh0jzmE
9,mayur,afa,123,asd,124,Male,HmwSamSE
10,mayur,afa,123,asd,124,Male,MwlLFBga
11,Shubham,SP@hbc,54,,0,,PuVXaiHF
12,Shubham,SP@hbc,544,,0,,UyRBj3qs
13,Shubham,SP@hbc,544,hagfs,2,Male,vfy9Oh86
14,naved,naved@gmail.com,7588,nanded,2,Male,eLzbzTvK
15,Shubham,shubhamp694@gmail.com,2147483647,nanded,2,Male,C8QuWFiz
16,walter,white@gmail.com,2147483647,Nagpur,2,Male,bOYwzUtD
17,Runad,dfdf,1234,sdasd,2,Male,wlZMAnt6
18,himanshu,himan@gmail.com,2147483647,Nagpur,4,Male,tjMHiERy
19,R,,0,,0,,xwQFIDDi
20,Runad1,runadkhamkar1@gmail.com,1234,asd,12,Male,ONKOJLkF
21,Runad2,runadkhamkar1@gmail.com,2147483647,nanded,12,Male,KzL43W49
22,Mukund,vcgh,234424,hfdcgh,12,Male,D6TJ5RZ1
23,Ajay,davc,5242,dvsad,564,Male,CdwKKa4P
24,Runad Khamkar,2015bce005@sggs.ac.in,2147483647,Visnupuri,5,Male,DokujVLd
25,shruti,2015bce005@sggs.ac.in,2147483647,akluj,4,Female,SnQzPRPl