In [1]:
import findspark
findspark.init("C:\Spark")

In [7]:
import pyspark
from pyspark.sql import SparkSession
s=SparkSession.builder.appName("Basic").getOrCreate()

In [9]:
df=s.read.csv("C:\Spark\walmart_stock.csv",header=True)
df.show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
only showing top 20 rows

In [11]:
df.select('open').show()

+------------------+
|              open|
+------------------+
|         59.970001|
|60.209998999999996|
|         59.349998|
|         59.419998|
|         59.029999|
|             59.43|
|         59.060001|
|59.790001000000004|
|             59.18|
|         59.869999|
|59.790001000000004|
|             59.93|
|             60.75|
|         60.810001|
|             60.75|
|             61.18|
|         61.799999|
|60.860001000000004|
|         60.470001|
|         61.529999|
+------------------+
only showing top 20 rows

In [47]:
from pyspark.sql.functions import stddev,countDistinct,avg

In [18]:
df.groupBy('open').mean().show()

+------------------+
|              open|
+------------------+
|62.009997999999996|
|         77.860001|
|         78.849998|
|         84.809998|
|         79.010002|
|             73.43|
|             65.32|
|         83.959999|
| 73.41999799999999|
|         78.739998|
|         60.450001|
|         71.489998|
|         72.870003|
|         76.489998|
|             77.93|
|         74.800003|
|         76.879997|
|         72.760002|
|             62.32|
|         74.360001|
+------------------+
only showing top 20 rows

In [27]:
df.createOrReplaceTempView("table")
r=s.sql("SELECT avg(low) FROM table")
r.show()

+------------------------+
|avg(CAST(low AS DOUBLE))|
+------------------------+
|        71.9186009594594|
+------------------------+

In [33]:
l=[]
l=df.columns
l

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [40]:
for i in range(7):
    print(l[i])
l[0]

Date
Open
High
Low
Close
Volume
Adj Close

'Date'

In [51]:
df.select(avg('open')).show()

+-----------------+
|        avg(open)|
+-----------------+
|72.35785375357709|
+-----------------+

In [55]:
df.select(stddev('open')).show()

+-----------------+
|stddev_samp(open)|
+-----------------+
| 6.76809024470826|
+-----------------+

In [65]:
a=df.agg({"open":"count"}).collect()
a

[Row(count(open)=1258)]